* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    min-height: 100vh; 
    background-image: url(img/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    text-align: center;
    color: white;
    opacity: 0; 
    animation: slideIn 0.85s ease-in-out forwards; 
}

.about ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.about li {
    display: inline-block;
}

.about i {
    font-size: 55px;
    transition: text-shadow 0.3s ease;
}

.about i:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.about a {
    color: white;
    cursor: pointer;
}

/* 動畫效果 */
@keyframes slideIn {
    0% { 
        opacity: 0; 
        transform: translateY(15%); 
    }
    100% { 
        opacity: 1;
        transform: translateY(0%); 
    }
}

/* 手機版 */
@media (width < 1000px){
    .about {
        padding: 10px;
    }

    .about i {
        font-size: 40px;
    }

    .about ul {
        gap: 30px;
        flex-wrap: wrap;
    }
}
